.MovieInfoContainer {
  flex: 50%;
  text-align: center;
}

.movieInfoImage {
  max-width: 440px;
}

@media only screen and (max-width: 375px) {
  .MovieInfoContainer {
    order: 1;
  }

  .movieInfoImage {
    max-width: 165px;
  }
}
@media only screen and (max-width: 960px) {
  .MovieInfoContainer {
    order: 1;
  }
  .movieInfoImage {
    max-width: 310px;
  }
}
